@import './mixins.scss';

// We set 'position: relative' to cater For 'position: absolute' fullscreen
// divs that are a direct child element of <body>.
body {
  position: relative;
  color: white;
  background-color: black;
}

.hover-pointer:hover {
  cursor: pointer;
}

.stroke {
  @include stroke;
}
